body{
    background-color: rgb(245, 232, 216); 
    margin: 200PX 300PX 400;
    font-family: Arial, sans-serif;
}
        




.menu{
    display:flex;
    justify-content: space-around;
background-color: goldenrod;


}
.sidebar {
    width: 200px;
    background-color: #333;
    color: rgb(228, 203, 95);
    padding: 20px;
}

.sidebar h2 {
    margin: 0;
    padding: 0 0 20px 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.sidebar ul li {
    margin: 10px 0;
    justify-content: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.content {
    padding: 20px;
    flex-grow: 1;
}
.imagem{
    width: 350px;
    height: auto;
}
.deuses{
    width: 580px;
    height: auto;
}
.centralizado {
    padding: 0 100px 0 100px;
    margin: auto;
}

